
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #ffffff;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #292b32;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  z-index: 100;
}

.navbar h2 {
  font-size: 22px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  text-decoration: underline;
}

.hero {
  background:
    linear-gradient(
      rgba(44, 50, 61, 0.88),
      rgba(43, 78, 160, 0.88)
    ),
    url("images/hero.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: #ffffff;
  text-align: center;
  padding: 120px 20px;
}



.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  margin-top: 10px;
}

.hero .date {
  font-size: 16px;
  margin-top: 8px;
  
}

.btn {
  display: inline-block;
  margin-top: 25px;
  background-color: #292b32;
  color: #ffffff;
  padding: 12px 30px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.btn:hover {
  background-color: #2563eb;
}

.section {
  padding: 70px 60px;
  text-align: center;
}

.section h2 {
  font-size: 34px;
  margin-bottom: 20px;
  color: #0f172a;
}

.light-bg {
  background-color: #f1f5f9;
}

.about-text {
  max-width: 850px;
  margin: 20px auto;
  color: #444;
  font-size: 17px;
}

.subheading {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 26px;
  
}
h3{
  color: rgb(127, 127, 127);
}

.why-list {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  padding-left: 30px;
}
.diffe{
  max-width: 700px;
  margin: 0 auto;
  text-align: right;
  padding-left: 100px;
}
.why-list li {
  margin-bottom: 12px;
  line-height: 1.6;
  font-weight: bold;
  list-style: none;
  line-height: 40px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  background-color: #ffffff;
  padding: 25px;
  width: 260px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
}

.card:hover {
  transform: translateY(-6px);
}

.card img {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  object-fit: cover;
  margin-bottom: 15px;
}

.card h4 {
  margin-bottom: 6px;
  color: #1e3a8a;
}
.non-technical{
    padding-top: 40px;
}

.timeline {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.time-box {
  background-color: #e0e7ff;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
}

.time-box span {
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}

.organizer-card {
  background-color: #f1f5f9;
  box-shadow: none;
  border: 1.5px solid #2563eb;
   transition: transform 0.3s ease;
}

.organizer-card:hover {
  transform: translateX(-6px);
}

.organizer-card img {
  border: 1px solid #2563eb;
}

.organizer-card h4 {
  color: #0f172a;
}

.organizer-card p {
  font-size: 14px;
  color: #475569;
}

.register {
  background-color: rgba(22, 56, 136, 0.88);
  color: #ffffff;
}

.register h2 {
  color: #ffffff;
}

.register p {
  margin-bottom: 20px;
}


footer {
  background-color: #292b32;
  color: #ffffff;
  text-align: center;
  padding: 25px;
}

footer p {
  margin-bottom: 6px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .navbar ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .section {
    padding: 60px 20px;
  }

  .hero h1 {
    font-size: 36px;
  }
}
